### EDA on data regarding "fristående kurser" that different YH apply for. 

TODO:  
- Create functions so it can be implemented with Taipy. 
- "Clean" data so it is easier to gather insights/plot/etc if necessary.

- Graph for "Anordnare med flest utbildningar". 
- Graph for "Antal beviljade/avslag/%". 
- Function for being able to filter "utbildningsområde" + "Anordnare" to get KPIs for
    - KPI: "Antal platser beviljade". 
    - KPI: "Antal kurser beviljade". 
    - KPI: "% beviljade gällande kurser".
    - KPI: "Ekonomiskt stöd från staten" - This will need to wait due to limited time.

In [ ]:
import pandas as pd
import duckdb
import matplotlib.pyplot as plt
import plotly.express as px

In [13]:
## Dropped rows that are not required. 
df_kurser = pd.read_excel(
    "../../data/resultat-2024-for-kurser-inom-yh.xlsx", sheet_name="Lista ansökningar"
).drop(
    columns=[
        "Diarienummer",
        "Kommun",
        "Län",
        "FA-region",
        "Antal kommuner",
        "Antal län",
        "Antal FA-regioner",
    ])

In [12]:
df_kurser

,Beslut,Anordnare namn,Utbildningsnamn,Utbildningsområde,Antal beviljade platser start 2024,Antal beviljade platser start och slut 2024,Antal beviljade platser start 2025,Totalt antal beviljade platser,YH-poäng
0,Avslag,Changemaker Educations AB,Futuregames Accessible Game Production,Juridik,0,0,0,0,25
1,Avslag,Changemaker Educations AB,Futuregames Inclusive Game Development,"Ekonomi, administration och försäljning",0,0,0,0,25
2,Avslag,Båstads kommun Akademi Båstad,Ekosystemtjänster i praktiken,"Lantbruk, djurvård, trädgård, skog och fiske",0,0,0,0,50
3,Avslag,Båstads kommun Akademi Båstad,Hållbar dagvattenhantering i praktiken,"Lantbruk, djurvård, trädgård, skog och fiske",0,0,0,0,50
4,Avslag,Båstads kommun Akademi Båstad,Invasiva växter i utemiljöer,"Lantbruk, djurvård, trädgård, skog och fiske",0,0,0,0,25
...,...,...,...,...,...,...,...,...,...
875,Beviljad,Hyper Island Program AB - Stockholm,Data Analytics,Data/IT,50,0,50,100,55
876,Avslag,INSU AB,"Solteknik- installation, säkerhet och regelverk",Teknik och tillverkning,0,0,0,0,60
877,Avslag,INSU AB,"Säkerhetsprojektering- brand-, inbrott-, kamer...",Säkerhetstjänster,0,0,0,0,95
878,Beviljad,Campus Nyköping,Hälsofrämjande och pedagogiska insatser med häst,"Lantbruk, djurvård, trädgård, skog och fiske",24,0,0,24,50
879,Avslag,Changemaker Educations AB,Futuregames Accessible Game Design,Data/IT,0,0,0,0,25